[Unit]
Description=udm-firewall - adopt default firewall ruleset
After=network.target

[Service]
ExecStart=/data/custom/firewall/udm-firewall.sh

[Install]
WantedBy=multi-user.target